#buttons-container {
    width: 60%;
    margin-top: 3em;
    margin-bottom: 3em;
}

#dice-container {
    width: 60%;
}

.die {
    width: 10%;
    padding-top: 10%;
    margin: 1em;
    border: 2px solid black;
}